header{
    text-align: center;
    font-size: 14px;
    margin-top: 0px;
}
.body {
    width: 1280px;
    height: 1626px;
}

.top-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 577px;
    height: 332px;

}
.top-menu a {
    font-family: Roboto;
    color:  #16a085;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 200px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.top-menu li {
    display: inline;
      }

p {
    font-family: Roboto;
    color:  #373737;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.h2 {
    font-family: Roboto;
    color:  #373737;
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    text-align: left;
}
button {
    border-radius: 3px;
    background-color:  #16a085;
    width: 192px;
    height: 51px;
}
footer {
    font-family: Roboto;
    color:  #373737;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    text-align: right;
    line-height: 50px;
    background-color: white;
}
img {
    width: 1280px;
    height: 650px;
}
